h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
  font-family: "Lexend", sans-serif;
  font-weight: bold;
}

.App {
  background-image: url(./images/Simple\ Shiny.svg);
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

footer {
  text-align: center;
  position: relative;
  margin-top: 100px;
}
body {
  overflow-x: hidden;
}
.home-item {
  margin-top: 250px;
}
